<md-card layout-margin>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{movie.title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
        <div ng-style="{'background-image': 'url(' + movie.poster + ')', 'background-repeat': 'no-repeat', 'background-position': '50% 50%' }">
            <p>
            {{movie.actors}}
            </p>
            <p>
            {{movie.director}}
            </p>
            <p>
            {{movie.genres}}
            </p>
            <p>
            {{movie.country}}
            </p>
            <p>
            {{movie.year}}
            </p>
            <p>
            {{movie.language}}
            </p>
            <p>
            {{movie.duration}}
            </p>
            <p>
            {{movie.color}}
            </p>
            <p>
            {{movie.budget}}
            </p>
            <p>
            {{movie.plot_keywords}}
            </p>
            <p>
            {{movie.grass}}
            </p>
            <p>
            {{movie.imdb_score}}
            </p>
            <p>
            {{movie.movie_facebook_likes}}
            </p>
            <p>
            {{movie.movie_imdb_link}}
            </p>
        </div>
    </md-card-content>
</md-card>

