
.poster {
    min-height: 256px;
    color: white;
}

.bubble-text {

}

.user-bubble {
    background-color: cyan;
}

.toolbar-text {
    color: white;
}

speech-dialogstate {
    position: fixed;
    right: 8px;
    bottom: 8px;
    min-width: 400px;
    max-width: 400px;
    font-size: 8pt;
    overflow: hidden;
}
